mujoco
pytorch_lightning
numpy-stl
vtk
patchelf
termcolor
torchgeometry
scikit-image
scikit-learn
scipy
ipdb
joblib
opencv-python
tqdm 
pyyaml
wandb
gym
git+https://github.com/ZhengyiLuo/smplx.git@master
git+https://github.com/ZhengyiLuo/SMPLSim.git@master
lxml
human_body_prior
autograd
rl-games==1.1.4
pyvirtualdisplay
git+https://github.com/mattloper/chumpy
chardet
cchardet
imageio-ffmpeg
easydict
open3d
gdown